@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    
}
html{

    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}


/* .blur {
    backdrop-filter: blur(5px);
  } */


header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    background:#0065bd;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}
header .logo{
    font-size:1.5rem;
    font-weight: bolder;
    color: #fff;
   
}
header .logo span{
    color:orange;
}
header .navbar a{
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    margin: 1rem;
    border-radius: 5px;
    
}
header .navbar a:hover{
    color:black;
    background-color: white;
   
    
} 

header .icons i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: orange;
}

.tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 2px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: 10px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

header .search-bar-container{

position: absolute;
top:100%;
left:0;
right:0;
padding: 1.5rem 2rem;
background: #333;
border-top: .1rem solid rgba(255,255,255,.2);
display: flex;
align-items: center;
z-index: 10001;
clip-path: polygon(0 0,100% 0 ,100% 0,0 0);


}

header .search-bar-container.active{ 

    clip-path:polygon(0 0,100% 0 ,100% 100%,0 100%);

}
 #containerforimg{
    width: 400px;
    display: flex;
    
    /* justify-content: center; */
    padding-top: 50px;
    align-items: center;
    position: absolute;
    flex-direction: column;
    left: 35%;
    top: 20%;
    background: white;
    border-radius: 30px;
    border: 1px solid grey;
    visibility: hidden;
    overflow: hidden;
   
    
}
.Resultnotactive .icon-close2{
    position:absolute;
    top:0 !important;
    right:0 !important;
    width: 40px;
    height: 40px;
    background:#162938;
    font-size:1.5em;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor:pointer;
    z-index: 1;
}

#imgDiv{
    height: 200px;
    width: 300px;
    border-radius: 5px;
   
}
header .Resultnotactive.active{
    
    clip-path:polygon(100% 0,100% 0 ,100% 100%,0 100%);
}


 #search-bar{
    width: 100%;
    padding:1rem;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: .5rem; 
}

.search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left:1.5rem;

}

header .search-bar-container label:hover{
    color:orange;
} 




/* login and register page */

.wrapper{
    
position: absolute;
top:15%;
left: 35%;
right: 35%;
width: 400px;
height: 470px !important;
background:#fff;
border: 2px solid rgba(255,255,255,.5) !important;
border-radius: 20px;
backdrop-filter: blur(20px);
box-shadow: 0 0 30px rgba(0,0,0,.5);
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
transform: scale(0);
transition:transform .5s ease, height .2s ease;

}

.wrapper.active-popup{
    
    transform: scale(1);
   
}

.wrapper.active{
    height: 520px;

}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);

}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position:absolute;
    top:2px;
    right:5px;
    width: 45px;
    height: 45px;
    background:#162938;
    font-size:1.5em;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor:pointer;
    z-index: 1;

}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
    font-weight: bold;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin:30px 0;

}
.input-box label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size:1em;
    color: #162938;
    font-weight: 400;
    pointer-events: none;
   
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
   
}
.input-box input{
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 1.5em;
    color:#162938;
    font-weight: bold;
    padding:0 35px 0 5px;
}
.input-box .loginicon{
    position: absolute;
    top:15px;
    right: 8px;
    font-size:1.2em;
    color: #162938;
}

.remember-forogt{
    font-size: 1.2em;
    color: #162938;
    font-weight: 500;
    margin:-15px 0 15px;
    display: flex;
    justify-content: space-between;
 }

 .remember-forogt label{
    margin-bottom: 5px;
 }
 .remember-forogt label input{
    accent-color:#162938 ;
    margin-right: 3px;
    
   
 }

 .remember-forogt a{
    color: #162938;
    text-decoration: none;
 }
 .remember-forogt a:hover{
    text-decoration: underline;
 }
 .btn{
    width:100%;
    height: 45px;
    background:#162938;
    border-radius: 6px;
    cursor: pointer;
    font-size:1.5em;
    color:#fff;
    font-weight:600;
    margin-top: 10px;
 }
 .login-register{

    font-size:1.2em;
    color:#162938;
    text-align:center;
    font-weight: 500;
    margin: 25px 0 10px;
 }

 .login-register p a{
    color:#162938;
    text-decoration: none;
    font-weight: 700;
 }

 .login-register p a:hover{
    text-decoration: underline;
 }




 #menu-bar{
    color:#fff;
    border: 0.1rem solid #fff;
    border-radius: 0.8rem;
    font-size: 3rem;
    padding: .7rem 1.2rem;
    cursor: pointer;
    display: none;
 }



/* homepage */


.home{
    /* margin-top: 50px; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.home .content {
    text-align: center;
}
.home .content h3{
    font-size: 2.5rem;
    color:#fff;
    font-weight: 500;
    /* text-transform: uppercase; */
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0,1);
}

.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
    margin-bottom: 30px;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0,1);
   
}
.bookbtn{
    
    
    background:#0065bd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size:1.2em;
    color:#fff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 2.5px;
   
   
    
    
}
.bookbtn:hover{
   
    border: 1px solid #fff !important;
    transform: translateY(-4px);
  
}

.home .image-container img{

    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit:cover;

}

.home .controls .img-btn{
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin:20rem 0.5rem .5rem  1.2rem;
    
}
.home .controls .img-btn.active{
    background: orange;
}





/* Room displaying */


.row{

    margin-right: 0px !important;
    margin-left: 0px !important;
  
}


.textcent{
    text-align: center;
    
}
.txtcent h5{
    
    font-weight: bold;
    color: #00e7ff;
    padding-top:40px;
}

.getst{
    display: flex;
    justify-content: center;
}

.getst button{
    margin-top: 50px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color:rgba(255, 166, 0, 0.818) ;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   
    
}

.getst button:hover{
    background-color:#fff;
    border: 1px solid grey;
  box-shadow: 0px 15px 20px rgba(219, 245, 234, 0.4);
  color: #000;
  transform: translateY(5px);
}
.getst button:active {
    transform: translateY(-1px);
  }

.cardst{
    height: 400px;
    background: #10221b12;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.features{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 7%;
    background: #10221b;
    color: white;
    height: 300px;
    width: 250px;
    margin-left: 25px;
    z-index: 500;
    font-size: 1.1rem;
    font-weight: bolder;
    border-radius: 10px;
    /* opacity: 0.7; */
     /* visibility:hidden;  */
    
}
.features2{
    display:none;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 7%;
    background: #10221b !important;
    color: white;
    height: 300px;
    width: 250px;
    margin-left: 25px;
    font-size: 1.1rem;
    font-weight: bolder;
    /* visibility: hidden; */
    border-radius: 10px;
    /* opacity: 0.7; */
   
   
    
}

 
.cardst:hover .features2{
   background: #10221b !important;
   display: flex;
  
   transform: translateY(-5px);
   
   
}
.cardst:hover .features{
    background: #10221b !important;
    display: flex;
    transform: translateY(-5px);
   
 }
/* .cardst:hover{
    background-color: #59a1df;
} */
.hovericon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    font-weight: bolder;
}
.seetext{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seeavail-btn{
    margin-top:25px;
}
  
.seebtn{
    text-decoration: none;
    padding: 5px;
    border: 1px solid rgb(166, 158, 158);
    width: 25px;
    color:white;
}

/* 
.cardst:hover{
  
    
    
} */




.cardst img{
    width: 30rem;
    height: 20rem;
    
}
.card-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.card-text{
font-size: 1.5rem;
font-weight: 200;
margin-top:30px !important;
}

/* conatactform */

.contact{
    margin-top: 100px;
}

.contact form{
    width:70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid white;
    display:flex;
    align-items: center;
}
.contact form input{
    width:100%;
    font-size: 1.4rem;
    color:white;
    text-transform: none;
    background: none;
    padding-right: 2rem;
}

.contact form input::placeholder{
    color:#aaa;


}

.contact form label{
    font-size: 3rem;
    cursor:pointer;
    color:white;
    
}
.contact form label:hover{
  color:green;
}
.msg{
    /* margin-left: 30px; */
    margin-bottom: 25px;
}
.wrapper1{
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 550px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
  
  .wrapper1 .title1 h3{
    color:#0261b4;
    text-align: center;
    margin-bottom: 25px;
    font-size: 3.2rem;
    
  }
  
  .contact-form{
    display: flex;
  }
  
  .input-fields{
    display: flex;
    flex-direction: column;
    /* margin-right: 4%; */
   
  }
/*   
  .input-fields,
  .msg{
    width: 60%;
  }
   */
  .input-fields .input,
  .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #5f66618f;
    padding: 10px;
    color: black;
    width: 100%;
  }
  
  /* .msg textarea{
    height: 192px;
  } */
  .msg .btn1{
    margin-top: 2rem;
    margin-left: 18rem;
    display: inline-block;
    border:0.2rem solid black;
    color:black;
    cursor:pointer;
    font-size:1.7rem;
    padding:0.5rem 2rem;
  
  }




/* footer */
footer{
    background-color: #0065bd !important;
    padding: 60px 0px 20px 60px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    height: 30vh;
}

.col-sm-3 ul{
    list-style-type: none;
    margin-top: 10px;
}
.col-sm-3 h3{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.col-sm-3 ul li a{

    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    
}
.col-sm-3 ul li a:hover{
    color: white;
    text-decoration: underline;
    transform: translateY(5px);
}
.copyright{
    background-color:#0065bd; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyright span{
    margin-top: 10px;
    color:white; 
    padding: 40px 40px 20px 0px;
   
}
.copyright i{
    margin-top: 10px;
    float:right;
    margin: 10px;
    color: white;
    
   
}

.copyright i:hover{
    color: black;
}
.copyright button{
    font-size: 15px;
    margin-left: 70px;
    padding: 0px !important;
    border: 1px solid black;
    border-radius: 100px 100px 100px 100px;
    background-color:skyblue ;
}











/* media queries */

@media(max-width:1200px){
    html{
        font-size: 55%;
    }

    .home .controls .img-btn{
        display: none;
    }
   
}
@media(max-width:991px){
    header{
        padding: 2rem;
    }
    .wrapper{
        z-index: 1000;
        background-color: white;
        left:25%;
       
    }
    .home .controls .img-btn{
        display: none;
    }
    
}
@media(max-width:768px){
    #menu-bar{
        display:initial ;
    }

    header .navbar{
        position: absolute;
        top:100%;
        right: 0;
        left:0;
        background: #333;
        border-top:.1rem solid rgba(255,255,255,.2);
        padding: 1rem 2rem;
        clip-path:polygon(0 0,100% 0,100% 0,0 0);
    }
    header .navbar.active{
         clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding:1.4rem;
        margin: 1.4rem 0;
        background: #222;

    }
    .wrapper{
        z-index: 1000;
        background-color: white;
        left:20%;
       
    }
    .home .controls .img-btn{
        display: none;
    }

   
}

@media(max-width:450px){

    html{
        font-size: 50%;
    }
    .wrapper{
        z-index: 1000;
        background-color: white;
        left:1%;
       
    }
    .home .controls .img-btn{
        display: none;
    }
}
